* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background: rgb(74,231,233);
    background: linear-gradient(51deg, rgba(74,231,233,1) 0%, rgba(255,0,211,1) 100%);
}

.main-container {
    display: flex;
    height: 100vh;
    justify-content: center;
}



.center-section {
    display: flex;
    flex-direction: column;
    width: 100rem;
}

.game-top-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.game-top-display .game-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    font-size: 5rem;
    width: 100%;
}

.game-top-display .player-names {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    font-size: 3rem;
    width: 100%;
}

.game-container {
    display: flex;
    width: 100rem;
    height: 60rem;
    background-color: green;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 2rem 1rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.left-player {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    /* background-color: #ff00d3; */
    background: rgb(240,204,234);
    background: linear-gradient(247deg, rgba(240,204,234,1) 0%, rgba(255,0,211,1) 100%);
}

.right-player {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    /* background-color: #4ae7e9; */
    background: rgb(108,243,245);
    background: linear-gradient(82deg, rgba(108,243,245,1) 0%, rgba(44,184,186,1) 100%);
}

.selected {
    color: green;
    transform: scale(1.5);
    transition: all 300ms linear;
}

.rock, .paper, .scissor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: transparent;
    transition: all 300ms linear;
}

.rock > i, .paper > i, .scissor > i {
    font-size: 15rem;
}

.left-player i {
    transform: rotate(90deg);
}

.right-player i {
    transform: rotate(-90deg) scale(-1, 1);
    /* color: red; */
}


.game-bottom-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    font-size: 3rem;
}

.game-bottom-display .score-title {
    flex: 1;
}

.game-bottom-display .score-numbers {
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 100%;
}

.game-bottom-display .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    width: 100%;
}

.button-container .play-button {
    font-size: 3rem;
    width: 15rem;
    height: 5rem;
    border: 0;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    background: rgb(108,243,245);
    background: linear-gradient(82deg, rgba(108,243,245,1) 0%, rgba(44,184,186,1) 100%);
}




